<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado Libre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<script src="../javascripts/script.js"></script>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <h2> Bienvenido a Mercado Libre</h2>
    <form style="width: 50%; height: 50%" action="/trends" method="get">
        <div class="form-group">
            <label for="sitesOption">Seleccione un site:</label>
            <select id='sitesOption' name="site" class="form-control" required="true" onchange="onChange()">
                <option disabled selected value> Seleccione una opción </option>
            </select>
        </div>
        <div class="form-group">
            <label for="categoriesOption">Seleccione una categoría:</label>
            <select id='categoriesOption' name="category" class="form-control" disabled>
                <option disabled selected value> Seleccione una opción </option>
            </select>
        </div>
        <div class="form-group">
            <label for="rows">Seleccione el número de filas:</label>
            <select id='rows' name="rows" class="form-control" required="true">
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="columns">Seleccione el número de columnas:</label>
            <select id='columns' name="columns" class="form-control" required="true">
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="type">Seleccione el tipo de busqueda:</label>
            <select id='type' name="type" class="form-control" required="true">
                <option>Nombre</option>
                <option>Imagen</option>
            </select>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: flex-end">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>